<div class="ui  placeholder segment fluid " style="width: 50%;margin-inline-start: 120px">

    <div class="ui form  ">

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button class=" ui button small" >{{ button_label|default('Save') }}</button>

        {{ form_end(form) }}
    </div>
</div>
