{% extends 'base.html.twig' %}

{% block title %}New Client

{% endblock %}

{% block body %}
    <div class="ui  segments fluid " style="width: 80%;margin-left:10%;">
        <div class="ui segment center aligned">
    <h1>Nouveau Client</h1> <a  class="ui button" href="{{ path('client_index') }}"> <i class="left arrow icon"></i>back to list</a>
        </div>
        {% if message %}
        <div class="ui message" style="background-color: crimson">
            <div class="header">
                {{ message }}
            </div>

        </div>
        {% endif %}
        <div class="ui compact segment "style="padding-left: 20%">
    {{ include('client/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
