<div class="ui raised piled container segment ">
<div class="ui three column grid">
    <div class=" column centered">
    <img class="ui fluid image " src="{{ asset('build/images/cat.8bd48909.png') }}" alt="" style="width: 70%; height: 70%;"/>
</div>

    <div class=" column centered">
        <h1 class="ui huge header centered" style="padding-top: 46px; font-size: 4.5em; font-family: Chilanka,'DejaVu Sans',sans-serif">MASSAGE OFFICE</h1>
    </div>
    <div class=" column centered"></div>
</div>

    <div class="ui four item menu">
        <a class="item" href="{{path("client_index")  }}">Client</a>
        <a class="item"  href="{{path("massage_index")  }}">Massage</a>
        <a class="item"  href="{{path("prestation_index")  }}">Prestation</a>
        <a class="item">Facture</a>
    </div>
</div>
